@use "partials/variables" as *;
@use "partials/mixins" as *;

.nav {
	height: 3.125rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $linkedin-blue;
	color: $linkedin-white;
	position: fixed;
	width: 100vw;
	z-index: 25;
	&__logo {
		padding: 0.625rem;
		& img {
			height: 2.05rem;
		}
	}
	&__username {
		line-height: 1.75rem;
		padding: 0.625rem;
	}
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 3.125rem;
	@include tablet {
		/**
			TODO: Fix me
		**/
	}
	@include desktop {
		/**
			TODO: Fix me
		**/
	}
}

.profile-card {
	display: flex;
	flex-direction: column;
	margin: 1.25rem;
	justify-content: center;
	background: $linkedin-accent-blue;
	border-radius: 0.3125rem;
	@include tablet {
		/**
			TODO: Fix me
		**/
	}
	@include desktop {
		/**
			TODO: Fix me
		**/
	}
	&__img {
		text-align: center;
		padding: 0.625rem 0;
		& img {
			width: 6.25rem;
			height: 6.25rem;
		}
	}
	&__title {
		text-align: center;
		background: $linkedin-light-blue;
		padding: 1.25rem 0;
		font-size: 1rem;
	}
}

.start-post {
	display: flex;
	flex-direction: column;
	margin: 1.25rem;
	justify-content: center;
	background: $linkedin-white;
	border-radius: 0.3125rem;
	padding: 1.25rem;

	&-user {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		&__img {
			text-align: center;
			padding: 0.625rem 0;
			width: 20%;
			& img {
				width: 3.125rem;
				height: 3.125rem;
			}
		}
		&__text {
			text-align: center;
			padding: 0.625rem 0;
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			& input {
				width: 80%;
				height: 1.875rem;
			}
		}
	}
}

.posts {
	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: space-evenly;
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin: 1.25rem;
		justify-content: center;
		background: $linkedin-white;
		border-radius: 0.3125rem;
		padding: 1.25rem;
	}
	&__username {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		font-family: "LinkedIn SourceSans";
		font-size: 1.25rem;
	}
	&__content {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		font-family: "LinkedIn SourceSans";
		font-size: 1.06rem;
	}
	&__like {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
}
